.logo-name {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 40px;
  margin: 2px 0 0 15px;
}

.contact-list,
.navigation-list {
  margin-top: 10px;
}

.contact-list {
  margin-right: 10px;
}

.navigation-list {
  margin-left: 60px;
}

.navigation {
  a {
    color: black !important;
  }
}

.navigation:hover {
  background-color: #fff3d9 !important;
}

@media only screen and (max-width: 370px) {
  .logo-name {
    display: block;
  }

  .logo {
    height: 40px;
    margin: 2px 0 0 0;
  }

  .contact-list,
  .navigation-list {
    margin: 10px 5px 0 0;
  }
}
